
:root {
    --cor-primaria: #0e4c25; 
    --cor-fundo: #f8f9fa; 
    --cor-texto-link: #0e4c25; 
    --cor-input-borda: #ccc;
    --cor-input-fundo: #fff;
    --fonte-principal: Arial, sans-serif; 
}
.admin-access-btn {
   
    position: fixed;
    
    
    top: 20px; 
    right: 20px; 
    
    
    background-color: var(--cor-primaria); 
    color: white !important; 
    padding: 8px 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none; 
    font-weight: bold;
    font-size: 0.9rem;
    
    
    z-index: 9999; 
    
    
    transition: background-color 0.3s ease;
}
.admin-access-btn:hover {
    background-color: #0b4e25; 
    color: white;
}



body {
    background-color: var(--cor-fundo);
    font-family: var(--fonte-principal);
}

.ponto-container {
    
    background-image: url('img/fundo-pmpr.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 55vh; 
    
    overflow: hidden; 
    position: relative; 
    z-index: 1; 
}


.ponto-card {
    
    background-color: rgba(255, 255, 255, 0.5) !important; 
    
    border: none !important;
    max-width: 600px; 
    width: 100%;
    border-radius: 1rem; 
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); 
    
    z-index: 10; 
}


.brasao-topo {
    width: 200px; 
    height: auto;
}


.ponto-titulo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--cor-primaria); 
    line-height: 1.2;
}


.matricula-label {
    font-size: 1.1rem;
    font-weight: bold;
    color: #000;
}


.cpf-input {
    border-radius: 0.5rem;
    padding: 1rem 0.75rem;
    border-color: var(--cor-input-borda);
    box-shadow: none !important;
    font-size: 1.2rem;
}
.cpf-input::placeholder {
    color: #999;
}


.camera-icon {
    background-color: #fff;
    border: 1px solid var(--cor-input-borda);
    border-left: none;
    border-radius: 0 0.5rem 0.5rem 0;
    cursor: pointer;
    padding: 0.5rem 1rem;
}
.camera-icon i {
    color: var(--cor-primaria);
    font-size: 1.5rem;
}


.registro-opcoes {
    font-size: 0.9rem;
    color: #6c757d; 
    display: flex;
}
.text-intro{
    color: var(--cor-primaria);
    font-weight: bold;
    text-decoration: none; 
    padding: 0 0.2rem;
}
.registro-link {
    color: var(--cor-primaria);
    font-weight: bold;
    text-decoration: none; 
    padding: 0 0.2rem;
}


.registrar-btn {
    background-color: var(--cor-primaria);
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    border: none;
    transition: background-color 0.3s;
}

.registrar-btn:hover {
    background-color: #09381c; 
    color: #fff;
}
.img-exp{
    align-items: center;
}
.admin-access-btn {
   
    position: fixed;
    
    
    top: 20px; 
    right: 20px; 
    
    
    background-color: var(--cor-primaria); 
    color: white !important; 
    padding: 8px 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none; 
    font-weight: bold;
    font-size: 0.9rem;
    
    
    z-index: 9999; 
    
    
    transition: background-color 0.3s ease;
}
.admin-access-btn:hover {
    background-color: #0b4e25; 
    color: white;
}

.btn-purple {
    background-color: #6f42c1; 
    color: white !important;
    transition: background-color 0.3s;
}

.btn-purple:hover {
    background-color: #59359a;
    color: white !important;
}

.bi-qr-code {
    font-size: 1.1rem;
}

@media print {
    body * {
        visibility: hidden;
        margin: 0;
        padding: 0;
    }

    #qrcodeCadastro, #qrcodeCadastro * {
        visibility: visible;
    }

    #qrcodeCadastro {
        position: fixed;
        left: 50%;
        top: 20px;
        transform: translateX(-50%);
        display: block !important;
    }

    .modal-content, .modal-body {
        border: none !important;
        box-shadow: none !important;
    }
}